*
{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.row
{
	display: flex;
	flex-direction: row;
}

.column
{
	display: flex;
	flex-direction: column;
}

.thin-container
{
	width: 60%;
	margin: 0 auto;
}

.container
{
	width: 80%;
	margin: 0 auto;
}

.full-container
{
	width: 100%;
}

.centered
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.break
{
	width: 225px;
}

.break > :first-child
{
	padding-right: 10px;
}

.break > :last-child
{
	padding-left: 10px;
}

.table .cell
{
	min-width: 45%;
	max-width: 300px;
	padding-bottom: 40px;
	align-items: flex-start;
	justify-content: space-between;
}

#home
{
	height: 512px;
	background: linear-gradient(rgba(83, 40, 148, 0.4), rgba(83, 40, 148, 0.4)), url("images/photo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#home header
{
	justify-content: space-between;
	flex-wrap: wrap;
	flex: 1;
}

#home nav ul
{
	list-style-type: none;
	padding: 0px;
}

#home nav li
{
	display: inline;
	padding-right: 20px;
}

#home nav a
{
	text-decoration: none;
	color: white;
}

#home .showcase
{
	flex: 20;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

#home .showcase h1
{
	font-size: 36px;
}

#home .showcase button
{
	background-color: transparent;
	border: none;
	outline: none;
}

#home .controls
{
	flex: 5;
	align-items: center;
}

#home .controls .show-more
{
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #709dca;
	padding: 10px 20px;
}

#home .controls .carousel
{
	margin: 20px 0;
}

#home .controls .carousel .outer
{
	height: 23px;
	border: none;
	border-radius: 50%;
	background-color: transparent;
	margin: 0 7px;
}

#home .controls .carousel .outer.current
{
	border: 2px solid white;
}

#services
{
	align-items: center;
}

#services .intro
{
	padding: 70px 0;
	text-align: center;
}

#services .intro h1
{
	color: #709dca;
}

#services .intro p
{
	color: #394b50;
}

#services .content
{
	flex-wrap: wrap;
	justify-content: space-around;
}

#services .content .cell
{
	min-width: 45%;
	max-width: 300px;
	padding-bottom: 40px;
	align-items: flex-start;
	justify-content: space-between;
}

#services .content .cell img
{
	padding-top: 5px;
	padding-right: 20px;
}

#services .content .cell > div
{
}

#services .content .cell h4
{
	color: #394b50;
	padding-bottom: 10px;
}

#services .content .cell p
{
	font-size: 13px;
	color: #7b7b7b;
}

#about
{
	flex-wrap: wrap;
}

#about > *
{
	flex: 1;
    min-width: 360px;
    max-width: 960px;
}

#about .intro
{
	max-height: 500px;
    object-fit: cover;
}

#about .content-background
{
	background-color: #ffc155;
	color: white;
	padding: 20px 0px;
}

#about .content-background > .content
{
	height: 100%;
	justify-content: space-around;
}

#about .content-background > .content > .first-part > *
{
	margin-bottom: 20px;
}


#about .content-background > .content > .first-part > p
{
	font-size: 13px;
}

#about .second-part button
{
	border: 1px solid #cb8d21;
	background-color: #e7ad48;
	padding: 10px 20px;
	color: white;
}

#portfolio .intro
{
	margin-top: 40px;
	margin-bottom: 40px;
	align-items: center;
}

#portfolio .intro > *
{
	margin: 20px 0;
}

#portfolio .intro > h1
{
	color: #709dca;
}

#portfolio .intro > p
{
	text-align: center;
	color: #062033;
}

#portfolio .intro .controls
{
	align-items: stretch;
	flex-wrap: wrap;
}

#portfolio .intro .controls button
{
	margin: 0 10px;
	border: none;
	border-radius: 5px;
	background-color: white;
	font-size: 15px;
	padding: 5px 15px;
}

#portfolio .intro .controls button.current
{
	background-color: #709dca;
	color: white;
}

#portfolio > .content > *
{
	flex-wrap: wrap;
}

#portfolio > .content > * > *
{
	flex: 1 1 317.5px;
	height: 250px;
	min-width: 25%;
	max-width: 50%;
}

#portfolio > .content img
{
	object-fit: cover;
	height: inherit;
	width: 100%;
}

#portfolio > .content .effects
{
	height: 100%;
	width: 100%;
	opacity: 0;
	position: relative;
	top: -254.5px;
	color: white;
	justify-content: center;
	text-align: center;
}

#portfolio > .content .effects img
{
	width: 40px;
	height: 40px;
	padding-bottom: 20px;
}

#portfolio > .content .effects h5
{
	font-size: 17px;
	font-weight: 700;
}

#portfolio > .content .effects:hover
{
	background: linear-gradient(rgba(233, 177, 80, 0.85), rgba(233, 177, 80, 0.85));
	opacity: 1;
}

#testimonials h1
{
	color: #709dca;
	font-weight: 800;
}

#testimonials .intro
{
	margin: 40px 0;
}

#testimonials .content
{
	font-size: 13px;
	justify-content: space-around;
	flex-wrap: wrap;
}

@media only screen and (min-width: 768px)
{
	#testimonials .content
	{
		justify-content: space-between;
	}
}

#testimonials .content > *
{
	min-width: 254px;
	max-width: 45%;
	padding-bottom: 40px;
	align-items: flex-start;
	width: 100%;
	height: inherit;
}

#testimonials .content .review-background
{
	height: 100%;
	background-color: #f6f3f3;
	padding: 15px;
	width: 100%;
}

#testimonials .content .review-outer
{
	margin-left: 35px;
}

#testimonials .content .person-icon
{
	object-fit: contain;
	margin-right: 20px;
	position: relative;
	top: -1vh;
}

#testimonials .controls
{
	margin-bottom: 40px;
}

#testimonials .controls button
{
	border: none;
	border-radius: 50%;
	outline: none;
	padding: 5px;
	margin: 0 5px;
}

#testimonials .controls button.current
{
	background-color: transparent;
	border: 2px solid #6f9dc9;
}

#contact
{
	background-color: #273a43;
	color: white;
	padding-top: 10vh;
}

#contact h2
{
	color: white;
}

#contact p
{
	color: #c3c3c3;
	font-size: 14px;
}

#contact .logo
{
	font-family: 'Pacifico', cursive;
}

#contact .tweet-time
{
	font-size: 14px;
	color: #71b6d5;
}

#contact > div
{
	flex-wrap: wrap;
}

#contact > div > *
{
	flex: 1;
	min-width: 254px;
	margin-bottom: 30px;
}

#contact > div > * > .row
{
	align-items: flex-start;
}

#contact > div > * > *
{
	padding-bottom: 20px;
	padding-right: 30px;
}

#contact .icon-container
{
	width: 20px;
	padding-right: 10px;
}

#contact .contact-details > *
{
	padding-bottom: 10px;
}

#contact .contact-details p
{
	color: white;
}

#contact .contact-details img
{
	margin: auto 0;
}

#contact .news-letter > *
{
	padding-right: 0;
}

#contact form input
{
	flex: 3;
	border: none;
	border-radius: 5px 0 0 5px;
	line-height: 30px;
	padding-left: 10px;
	background-color: #172227;
	color: #a7a7a7;
}

#contact form button
{
	flex: 1;
	border: none;
	border-radius: 0 5px 5px 0;
	background-color: #71b6d5;
	color: white;
	padding: 7px 15px;
}

footer
{
	justify-content: space-around;
	font-size: 14px;
	background-color: #172227;
	color: #c4c4c4;
	padding: 10px 0 15px;
	flex-wrap: wrap;
}

footer > *
{
	padding: 10px 0 5px;
}


